@charset "UTF-8";
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-color: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  --underLine: 2px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-color);
  position: relative;
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--underLine);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  position: relative;
  z-index: 12;
}
@media only screen and (max-width: 29.3em) {
  .header {
    height: 11rem;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.content {
  display: flex;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

aside {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-light-1);
  padding: 4.5rem;
  font-size: 1.4rem;
}
@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
  }
}

.descreption {
  background-color: #fff;
  flex: 0 0 65%;
  margin-right: 4.5rem;
  box-shadow: 0 2rem 5rem rgba(19, 8, 8, 0.08);
  font-weight: 400;
}
@media only screen and (max-width: 56.25em) {
  .descreption {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .descreption {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraphs,
.services,
.comments {
  border-bottom: var(--underLine);
  padding: 3rem 4rem;
  color: var(--color-grey-dark-2);
}

.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.services li {
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
  position: relative;
  padding-left: 2rem;
}
.services li::before {
  content: "";
  background-color: var(--color-primary);
  -webkit-mask-image: url(/img/SVG/arrow_forward_ios.svg);
  -webkit-mask-size: cover;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
}

.comments {
  display: flex;
  padding: 4rem;
  font-size: 1.3rem;
  color: var(--color-grey-light-5);
  align-items: center;
}
.comments__count {
  margin-right: auto;
}
.comments__friends {
  display: flex;
}
.comments__friends__photo {
  box-sizing: content-box;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.comments__friends__photo:not(:last-child) {
  margin-right: -1.2rem;
  border: 3px solid #fff;
}

.call {
  padding: 4rem 0;
  text-align: center;
}
.call__book-now {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.call__book-now span {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: 400;
  font-family: fantasy;
}
.call__btn {
  font-size: 1.5rem;
  width: 25rem;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  text-align: center;
  padding: 2.4rem;
  color: #fff;
  border: none;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  padding: 3rem;
}
.call__btn__visible-1 {
  transition: all 0.2s;
  position: absolute;
  left: 38%;
  top: 2rem;
}
.call__btn__visible-2 {
  transition: all 0.2s;
  position: absolute;
  left: 15%;
  top: -100%;
}
.call__btn:hover {
  background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
}
.call__btn:hover .call__btn__visible-1 {
  top: -100%;
}
.call__btn:hover .call__btn__visible-2 {
  top: 2rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  z-index: 10;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}
@media only screen and (max-width: 300px) {
  .logo {
    margin: 1rem auto;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: var(--color-grey-light-2);
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
}
.search__input:focus {
  width: 100%;
  outline: none;
  background-color: var(--color-grey-light-3);
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}
.search__btn {
  border: none;
  background-color: transparent;
  margin-left: -3.5rem;
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}
@media only screen and (max-width: 29.3em) {
  .search {
    order: 1;
    flex: 0 0 100%;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.user-nav__box {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.user-nav__box:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__box:hover .user-menu {
  visibility: visible;
}
.user-nav__icon {
  height: 2.3rem;
  width: 2.3rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__notifications {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 50%;
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-nav__messages:hover .messages-box {
  visibility: visible;
}
.user-nav__user {
  display: flex;
  align-items: center;
}
.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin: 0;
  }
}
.side-nav__item::before {
  position: absolute;
  z-index: 0;
  content: "";
  background-color: var(--color-primary);
  height: 100%;
  width: 1%;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s;
}
.side-nav__item:hover::before, .side-nav__item__active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    flex: 1;
    margin: 0;
  }
}
.side-nav__link:link, .side-nav__link:visited {
  text-decoration: none;
  color: var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 33em) {
  .side-nav__link:link, .side-nav__link:visited {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
  }
}
.side-nav__icon {
  fill: currentColor;
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 33em) {
  .side-nav__icon {
    margin: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .side-nav {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

.footer-legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}
@media only screen and (max-width: 56.25em) {
  .footer-legal {
    display: none;
  }
}

.gallery {
  display: flex;
}
.gallery__photo {
  display: block;
  width: 100%;
}

.overview {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  border-bottom: var(--underLine);
}
.overview__stars {
  display: flex;
  margin-right: auto;
}
.overview__stars__icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: var(--color-primary);
}
@media only screen and (max-width: 400px) {
  .overview__stars {
    margin: 0;
  }
}
.overview__heading {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}
@media only screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1.8rem;
  }
}
.overview__location {
  display: flex;
  padding: 0 2rem;
}
.overview__location__icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: var(--color-primary);
  margin-right: 0.5rem;
}
.overview__rating {
  align-self: stretch;
  font-size: inherit;
  padding: 0 3rem;
  color: #fff;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overview__rating__average {
  font-size: 2.25rem;
  font-weight: 300;
}
.overview__rating__count {
  text-transform: uppercase;
  font-size: 0.8rem;
}
@media only screen and (max-width: 33em) {
  .overview__rating {
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .overview {
    height: 20rem;
    flex-direction: column;
    justify-content: space-between;
  }
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  border-bottom: var(--underLine);
  border-color: var(--color-primary);
  padding-bottom: 0.2rem;
  background: none;
  cursor: pointer;
  display: block;
  transition: all 0.2s;
}
.btn-inline:hover {
  color: var(--color-grey-dark-1);
}
.btn-inline:focus {
  animation: sacleAinm 1s;
}

@keyframes sacleAinm {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4 rem black;
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.review {
  background-color: #fff;
  box-shadow: var(--shadow-color);
  padding: 3rem;
  margin-bottom: 3.55rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  border-radius: 11% 0 0;
}
.review::before {
  content: "“";
  position: absolute;
  color: var(--color-grey-light-2);
  font-size: 20rem;
  font-family: sans-serif;
  top: -2.8rem;
  line-height: 1.06;
  left: -1rem;
  z-index: -1;
}
.review__text {
  margin-bottom: 2rem;
}
.review__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review__user__box {
  margin-right: auto;
}
.review__user-name {
  text-transform: uppercase;
  color: var(--color-grey-dark-1);
  font-size: 10px;
  font-weight: 600;
}
.review__user-date {
  font-size: 10px;
  font-weight: 400;
}
.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.review__rating {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 300;
}
@media only screen and (max-width: 37.5em) {
  .review {
    width: 100%;
  }
}

.user-menu {
  width: 16rem;
  border-radius: 20px 0 0 20px;
  border: var(--underLine);
  padding: 1rem 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
.user-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  justify-content: flex-start;
  overflow: hidden;
}
.user-menu__option:not(:last-child) {
  margin-bottom: 2rem;
  border-bottom: var(--underLine);
}
.user-menu__option {
  cursor: pointer;
  border-radius: 20px;
  padding: 1rem;
}
.user-menu__option:hover {
  background-color: var(--color-primary);
  color: #fff;
}
@media only screen and (max-width: 29.3em) {
  .user-menu {
    width: 100%;
    border-radius: 20px;
    top: 0;
  }
}

.messages-box {
  width: 22rem;
  border: var(--underLine);
  border-radius: 20px;
  padding: 1rem 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 8rem;
  z-index: 12;
  display: flex;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
.messages-box .list-name {
  text-align: center;
  position: relative;
  color: #eee;
  margin-bottom: 1rem;
}
.messages-box .list-name::before {
  content: "";
  position: absolute;
  height: 3rem;
  width: 13rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  border-radius: 20px 0;
  z-index: -1;
}
.messages-box .list-name::after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 22rem;
  top: 1rem;
  left: -0.3rem;
  background-color: var(--color-primary);
  z-index: -1;
}
@media only screen and (max-width: 29.3em) {
  .messages-box .list-name::after {
    width: 100%;
  }
}
.messages-box__mesg {
  padding: 3rem;
  border-bottom: var(--underLine);
  font-size: 1.4rem;
  cursor: pointer;
}
.messages-box__mesg__text {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.messages-box__mesg__sender {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.messages-box__mesg__sender__photo {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.messages-box__mesg__sender__name {
  font-weight: 700;
}
.messages-box__mesg:hover {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 3rem;
}
.messages-box .mesg-date {
  margin-left: auto;
  font-size: 1.2rem;
}
@media only screen and (max-width: 29.3em) {
  .messages-box {
    width: 100%;
    top: 0;
    right: 0;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 15;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.fullMessage__sender {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
.fullMessage__sender__name {
  font-size: 2rem;
}
.fullMessage__sender__photo {
  order: -1;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.fullMessage__text {
  font-size: 1.33rem;
}
.fullMessage__date {
  font-size: 1.8rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.fullMessage__buttons {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}